input[type=range] {
  height: 31px;
  -webkit-appearance: none;
  margin: 10px 0;
  /*width: 100%;*/
  width: 240px;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  /*width: 100%;*/
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: inset 0px 10px 4px 2px #181818, inset 0 0 1px 10px #fff1, 0 1px 2px #fff3;
  background: #181818;
  border-radius: 2px;
  border: 1px solid #0003;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #0006;
  height: 28px;
  width: 85px;
  border-radius: 0px;
  background: #555;
  background: url("images/slider-cyan.png");
  background-size: cover;
  /*box-shadow: -5px 0px 2px #0008;*/
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #282828;
}
input[type=range]::-moz-range-track {
  /*width: 100%;*/
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: inset 0px 8px 6px #0008;
  background: #282828;
  border-radius: 0px;
  border: 1px solid #0003;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #0006;
  height: 28px;
  width: 85px;
  border-radius: 0px;
  background: #555;
  cursor: pointer;
}
input[type=range]::-ms-track {
  /*width: 100%;*/
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #282828;
  border: 1px solid #0003;
  border-radius: 0px;
  box-shadow: inset 0px 8px 6px #0008;
}
input[type=range]::-ms-fill-upper {
  background: #282828;
  border: 1px solid #0003;
  border-radius: 0px;
  box-shadow: inset 0px 8px 6px #0008;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: 1px solid #0006;
  height: 28px;
  width: 85px;
  border-radius: 0px;
  background: #555;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #282828;
}
input[type=range]:focus::-ms-fill-upper {
  background: #282828;
}